* {
    font-family: 'Courier New', Courier, monospace;
    
}
h1 {
    text-transform: uppercase;
    color:maroon
    
}

a {
    background-color: salmon;
    color: whitesmoke;
    padding: 10px;
    
}